<h1><%= @user.username %>のユーザーページ</h1>
<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% else %>
  <image src="/assets/default.jpg">
<% end %>
<p>プロフィール : <%= @user.profile %></p>

<%= link_to 'プロフィールの編集', edit_user_path(current_user) %>
