<% provide(:title, "TopPage") %>
<p>フォローしているユーザーの投稿</p>
<% if user_signed_in? %>
  <%= render 'devise/shared/feed' %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "ユーザー登録", new_user_registration_path %>
<% end %>