<% provide(:title, "写真個別ページ") %>
<div class="user_name">
  <%= @user.username %>の投稿
</div>
<%= image_tag @imagepost.image.url if @imagepost.image? %>

<h1>コメント一覧</h1>
<% @imagepost.comments.each do |comment| %>
  <%= comment.comment_content %>
<% end %>
