/* header */
.navbar {
	background-color: #CCCCCC;
}

.header-left {

}

.navbar-right {
	width: 80%;
	list-style: none;
	display: inline-flex;
	justify-content: flex-end;
}

.navbar-right li {
	padding: 0 30px;
}